# ====================
# PostgreSQL 数据库用户名

DB_USER=classwayx
# ====================

# ====================
# PostgreSQL 数据库密码
#
# 提醒：请将此改成一个难以破解的强密码

DB_PASSWORD='awesome-password'
# ====================

# ====================
# PostgreSQL 数据库名称

DB_NAME=classwayx_db
# ====================
