# ====================
# PostgreSQL 数据库用户名

DB_USER=classwayx
# ====================

# ====================
# PostgreSQL 数据库密码
#
# 提醒：请将此改成一个难以破解的强密码

DB_PASSWORD='awesome-password'
# ====================

# ====================
# PostgreSQL 数据库名称

DB_NAME=classwayx_db
# ====================


# 飞书机器人数据库
LARK_BOT_USER=lark_bot
LARK_BOT_USER_PASSWORD='awesome-password'
LARK_BOT_DB_NAME=lark_bot_db